@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);

body {
  background-color: #F5F5DC;
}

input[type='checkbox']{
  margin: 1em;
}

form {
  padding: 1em;
}

#password {
  margin: 1em;
  padding: 1em;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5em;
  font-weight: 700;
  color: #F5F5DC;
}